<div class="_carousel">
    <carousel>
        <slide>
        <img src="../../../assets/images/plain-yellow.png" alt="first slide" class="slide">
        <div class="carousel-caption">
            <img src="../../../assets/images/saraAdams.jpg" alt="" class="person-image">
            <h3>Leonardo Gonzalez</h3>
            <h4>MD Arch Commerce</h4>
            <p>MZ Knight has truly been a game-changer for our business. With their expertise in PPC advertising, our sales have seen a remarkable increase, and our advertising costs have significantly decreased. Their dedication to managing our Amazon account has allowed us to focus on growth. Highly recommend their services!</p>
        </div>
        </slide>
        <slide>
        <img src="../../../assets/images/plain-yellow.png" alt="second slide" class="slide">
        <div class="carousel-caption">
            <img src="../../../assets/images/leonardoGonzalez.jpg" alt="" class="person-image">
            <h3>Jason Starc</h3>
            <h4>CTO InfoSell</h4>
            <p>AMZ Knight's attention to account health and performance is outstanding. They've saved us from potential disasters. Their world-class services and 24/7 account monitoring have been a lifesaver. We can't thank them enough for their dedication.</p>
        </div>
        </slide>
        <slide>
        <img src="../../../assets/images/plain-yellow.png" alt="third slide" class="slide">
        <div class="carousel-caption">
            <img src="../../../assets/images/jsonStarc.jpg" alt="" class="person-image">
            <h3>Sara Adams</h3>
            <h4>Director Uphams</h4>
            <p>I can't thank AMZ Knight enough for their expert services. They transformed our Amazon business. Their daily PPC analysis and review management have been invaluable. I wouldn't trust anyone else with my Amazon venture</p>
        </div>
        </slide>
    </carousel>
</div>