<app-web-header></app-web-header>
<div class="down-container"style="">
    <div class="first-container">
        <div class="left-container">
            <div class="left-container-inner-text">
                <ol class="no-bullets">
                    <span><li>Increase your advertisement sales</li></span>
                    <span><li>Decrease your advertisement cost</li></span>
                    <span><li>Grow your product line</li></span>
                </ol>
            </div>
        </div>
        <div class="right-container">
            <img src="../assets/images/productivity.png" alt="">
        </div>
    </div>
    <div class="middle-container">
        <p class="heading">Services</p>
        <div class="cards-container">
            <app-display-card></app-display-card>
        </div>
    </div>
</div>