<app-web-header></app-web-header>
<div class="down-container"style="">
    <div class="first-container">
        <div class="left-container">
            <div class="left-container-inner-text">
                    <div><mat-icon class="bullet">brightness_1</mat-icon>Increase your advertisement sales</div>
                    <div><mat-icon class="bullet">brightness_1</mat-icon>Decrease your advertisement cost</div>
                    <div><mat-icon class="bullet">brightness_1</mat-icon>Grow your product line</div>
            </div>
        </div>
        <div class="right-container">
            <img src="../assets/images/productivity.png" alt="">
        </div>
    </div>
    <div class="middle-container">
        <p class="heading">Services</p>
        <div class="cards-container">
            <app-display-card
            [content_string]="'We specialize in developing the most impactful yet the most cost-effective pay-per-click (PPC) strategy. We know where, how, and when to strike a balance.'"
            [mat_icon_string]="'record_voice_over'"
            [title_string]="'PPC Advertising'"
            class="mat_card"></app-display-card>

            <app-display-card
            [content_string]="'We take ownership of our client’s accounts. We believe in empowering clients to grow by managing their accounts in the best possible manner.'"
            [mat_icon_string]="'shopping_cart'"
            [title_string]="'Amazon Account Management'"
            class="mat_card"></app-display-card>

            <app-display-card
            [content_string]="'Planning better and optimizing inventory management can not only reduce your lead time but also boost the efficiency and utilization of your systems.'"
            [mat_icon_string]="'home'"
            [title_string]="'Inventory Management & Planning'"
            class="mat_card"></app-display-card>

            <app-display-card
            [content_string]="'We’ve seen accounts die, and the main reason we have found is that they did not keep a check on their account health and performance. We provide world-class services to do that for you.'"
            [mat_icon_string]="'accessibility_new'"
            [title_string]="'Account Health & Performance'"
            class="mat_card"></app-display-card>

            <app-display-card
            [content_string]="'It is a huge science to optimize your listings in a way that it brings more traffic to your account and boosts conversions.'"
            [mat_icon_string]="'list'"
            [title_string]="'Listing Optimization'"
            class="mat_card"></app-display-card>
        </div>
    </div>

    <div class="extra-mile-container">
        <p class="heading">Extra mile we do for our clients</p>
        <div class="extra-mile-inner-container">
            <app-services-card style="margin-right: 30px; margin-bottom: 30px;"
            [title_string]="'Daily Sales Insights'"
            [icon_string]="'timeline'"
            ></app-services-card>

            <app-services-card style="margin-right: 30px; margin-bottom: 30px"
            [title_string]="'Seller Central problems solved'" 
            [icon_string]="'done'"
            ></app-services-card>

            <app-services-card style="margin-right: 30px; margin-bottom: 30px"
            [title_string]="'Listings Protection & Activation'"
            [icon_string]="'list'"
            ></app-services-card>

            <app-services-card style="margin-right: 30px; margin-bottom: 30px"
            [title_string]="'24/7 listing Monitoring'"
            [icon_string]="'query_builder'"
            ></app-services-card>
            
            <app-services-card style="margin-right: 30px; margin-bottom: 30px"
            [title_string]="'Amazon Seller Central Tasks'"
            [icon_string]="'report_problem'"
            ></app-services-card>

            <app-services-card style="margin-right: 30px; margin-bottom: 30px"
            [title_string]="'Account Health Monitoring'"
            [icon_string]="'track_changes'"
            ></app-services-card>

            <app-services-card style="margin-right: 30px; margin-bottom: 30px"
            [title_string]="'Customer Service'"
            [icon_string]="'record_voice_over'"
            ></app-services-card>

            <app-services-card style="margin-right: 30px; margin-bottom: 30px"
            [title_string]="'Daily PPC Analysis'"
            [icon_string]="'find_in_page'"
            ></app-services-card>
        </div>
    </div>

    <div class="reviews-container" style="margin-top: 70px">
        <p class="heading" style="color: white">Reviews</p>
        <br>
        <div class="inner-reviews-container">
        <app-reviews-carousel/>
        </div>
    </div>
</div>
<app-web-footer/>