<mat-card class="display-card" >
    <mat-card-header class="card-header">
      <mat-card-subtitle class="card-subtitle"><mat-icon class="card-icon">{{mat_icon_string}}</mat-icon></mat-card-subtitle>
      <mat-card-title><p class="card-title">{{title_string}}</p></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div>
        <mat-card-content>
            <p class="card-content">{{content_string}}</p>
        </mat-card-content>
        <mat-card-footer>
          <mat-progress-bar class="card-progress-bar" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </div>
  </mat-card>
