<mat-card class="display-card" >
    <mat-card-header class="card-header">
      <mat-card-subtitle class="card-subtitle"><mat-icon class="card-icon">record_voice_over</mat-icon></mat-card-subtitle>
      <mat-card-title><p class="card-title">PPC Advertising</p></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div>
        <mat-card-content>
            <p class="card-content">We specialize in developing the most impactful yet the most cost-effective pay-per-click (PPC) strategy. We know where, how, and when to strike a balance.</p>
        </mat-card-content>
        <mat-card-footer>
          <mat-progress-bar class="card-progress-bar" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </div>
  </mat-card>
