.display-card {
    height: 345px;
    width: 500px;
}

.display-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card-icon {
    font-size: 50px;
    width: auto;
    height: auto;
    color: #f3a008;
}

.card-subtitle {
    height: 60px;
}

.card-header {
    height: 174px;
    padding-bottom: 10px;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 200;
    line-height: 40px;
}

.card-content {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align: justify;
    height: 150px;
}

.card-progress-bar {
    background-color: black;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #f3a008;
    --mdc-linear-progress-track-color: rgba(103, 58, 183, 0.25);
}

@media screen and (max-width: 1225px) {
    .display-card {
        height: 460px;
        width: 270px;
    }

    .card-header {
        height: 250px;
    }

    .card-content {
        font-family: 'Roboto Mono', monospace;
        font-size: 15px;
        text-align: justify;
        height: 190px;
    }
    
    .card-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;
        font-weight: 200;
        line-height: 40px;
    }
} 


